
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    color: #fff;
}

.navbar {
    background-color: #59cbda;
    color: #fff;
    padding: 10px 0;
}

.container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
}

.nav-links ul {
    list-style: none;
    display: flex;
}

.nav-links ul li {
    margin-left: 20px;
}

.nav-links a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #60a5ff;
}

.main {
    margin: 0 auto;
    width: 80vw;
    height: 80vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2em;
  }

.main img {
    border: 7px solid rgb(127, 171, 207);
    width: 350px;
    height: 320px;
    z-index: 1;
  }

body{
    background-color: rgb(41, 41, 41);
}
.main span {
    color: rgb(10, 255, 214);
  }

  .habilidades, .proyectos, .contacto, .gitignore  {
    padding: 40px 20px;
}


.habilidades-content, .proyectos-content, .contacto-content, .git-content {
    margin: 0 auto;
    max-width: 800px;
}

.boto {
    display: flex;
    flex-wrap: wrap;
    gap: 100px; 
    justify-content: center;
}

.boto div:hover {
    transform: scale(1.1);
    color: #59cbda; 
    transition: transform 0.3s ease, color 0.3s ease;
}

.boto img{
    margin-top: 30px;
    width: 60px;
    height: 60px;
    margin-bottom: 30px;
}

.boto div{
    margin-top: 30px;
}

.botoo {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.botoo a {
    text-decoration: none;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.botoo div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.botoo img {
    width: 150px; 
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
    transition: transform 0.3s;
    margin-top: 20px;
    margin-bottom: 30px;
}

.botoo img:hover {
    transform: scale(1.1);
}

.botoo div span {
    margin-top: 10px;
    color: #fff;
    font-size: 16px;
}

.git-content h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.git-content p {
    font-size: 16px;
    line-height: 1.6;
}

.git-content code {
    background-color: #444;
    padding: 2px 4px;
    border-radius: 4px;
    color: #e0e0e0;
}

.git-content strong {
    display: block;
    margin-top: 10px;
}